<div class="wrapper-md" ng-controller="MyRecordCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">病历列表</div>

		<table st-table="rowCollectionPage" class="table table-striped">
			<thead>
				<tr>
					<th>病人名称</th>
					<th>病人身份证号</th>
					<th>入院日期</th>
					<th>病历状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rowCollectionPage">
					<td>{{row.P_name}}</td>
					<td>{{row.P_id}}</td>
					<td>{{row.R_inday}}</td>
					<td>
						<div ng-show="row.P_bih && row.P_ward=='' && row.D_sigs == 'WaitForSign'">待{{row.D_snam}}分配病床</div>
                        <div
                            ng-show="(row.P_bih && row.P_ward !='' && row.D_sigs == 'WaitForSign')||(!row.P_bih && row.D_sigs == 'WaitForSign')">
                            待{{row.D_snam}}签字</div>
						<div ng-show="row.D_sigs == 'Signed'">已签字</div>
						<div ng-show="row.D_sigs == 'Reject'">已拒绝</div>
					</td>
					<td><button class="btn m-b-xs w-xs btn-success" ng-click="view(row)">详情</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin">
						</div>
					</td>
				</tr>
			</tfoot>
		</table>

		<script type="text/ng-template" id="myRecordInfo.html">
			<div ng-include="'tpl/modal_recordInfo.html'"></div>
		</script>
	</div>
</div>