<div class="panel panel-default">
	<div class="panel-heading">历史流转记录</div>

	<table st-table="historyList" class="table table-striped">
		<thead>
			<tr>
				<th>先前住院时间</th>
				<th>先前出院时间</th>
				<th>先前诊断</th>
				<th>先前诊断医生</th>
				<th>备注</th>
				<th ng-show="app.role == '管理员'">操作</th>
			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="row in historyList">
				<td style="max-width: 200px;word-wrap: break-word;">{{row.R_inday}}</td>
				<td style="max-width: 200px;word-wrap: break-word;">{{row.R_outday}}</td>
				<td>{{row.P_dgn}}</td>
				<td>{{row.D_name}}</td>
				<td>{{row.D_resn}}</td>
				<td ng-show="app.role == '管理员'"><button class="btn m-b-xs w-xs btn-success" ng-click="view(row)">详情</button></td>
			</tr>

		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>